*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.class{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    background-color: azure;
    border-radius: 25px;
}
.doc{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    counter-reset: white;
    background-color: rgb(86, 86, 86);
    border: 1px solid rgb(31, 31, 55);
}
.doc>p{
    color: white;
}
.link{
    border: 2px solid aliceblue;
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    cursor: pointer;
}
.link:hover{
    transform: scale(1.1);
}

.assigment{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
button{
    background-color: blue;
    border-radius: 15px;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
a{
    color: white;
    text-decoration: none;
}